body {
  background-color: #bab2fe;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  margin: 0 0 5px;
  font-size: 60px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #bab2fe;
  padding: 30px;
  border: 5px solid black;
  border-radius: 15px;
  font-family: "Bebas Neue", sans-serif;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 3px solid black;
}

.city:last-child {
  border: none;
}

.date {
  font-size: 36px;
}
.time {
  font-size: 60px;
  font-weight: bold;
}

.time small {
  font-size: 36px;
  vertical-align: middle;
  line-height: 36px;
  font-weight: lighter;
}

footer {
  text-align: center;
  font-size: 14px;
}
